.img-event{
    object-fit: cover;
    border-radius: 0.3rem;
}

.icon-options{
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 999;
}

.fs-small{
    font-size: 0.8rem;
}

.nowrap{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}