ion-content {
    --background: linear-gradient(180deg, #ff7c36 0%, #152D93 85%);
}

ion-toolbar {
    --background: #ff7c36;
    color: #fff;
}

ion-header {
    --background: #ff7c36;
}

.form-control{
    width: min-content !important;
}

form{
    height: 100%;
}

ion-select {
    width: 100%;
}

.pt-7{
    padding-top: 4rem;
}