ion-content {
    --background: #eeeeee;
}

.filter-date {
    background: transparent;
    border: none;
    font-weight: bold;
    color: #152d93;
    font-size: 0.9rem;
    padding: 0;
    flex-direction: row-reverse;
    width: 105px;
}