<ion-header>
  <team-toolbar title="Calendario" image="../../../assets/img/motobomba.jpeg"></team-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendario</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="d-flex justify-content-between align-items-center mx-3 mb-3">
    <ion-label color="primary" class="fs-5 fw-bold">Eventos deportivos</ion-label>
    <ion-label class="fs-6"><a href="#">8 de Mayo</a></ion-label>
  </section>

  <team-card-event image="../../../assets/img/soccer.jpeg" title="Entrenamiento" date="Miercoles 8 de mayo"
    place="Cancha El pueblito" time="07:00 a.m. - 9:30 a.m." players="28 jugadores confirmados">
  </team-card-event>

  <team-card-event image="../../../assets/img/soccer.jpeg" title="Partido" date="Miercoles 8 de mayo"
    place="Polideportivo Pibe Valderrama" time="07:00 p.m. - 9:30 p.m." players="22 jugadores confirmados">
  </team-card-event>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>