<ion-header class="ion-no-border">
  <team-toolbar 
    subtitle="Mi" 
    title="Perfil 👤"
    image="../../../assets/img/motobomba.jpeg"
    [hideProfilePhoto]="true">
  </team-toolbar>
</ion-header>

<ion-content>
  <team-header-profile 
    name="Gabriel De La Hoz"
    image="../../../assets/img/motobomba.jpeg"
    attendance="80% de asistencia"
  ></team-header-profile>

  <team-card-info 
    title="Información personal"
    datatitle1="Nombre completo"
    data1="Gabriel De La Hoz"
    datatitle2="Identificación"
    data2="1001821137"
    datatitle3="Télefono"
    data3="+57 3201252211"
    datatitle4="Correo"
    data4="gabriel@jugador.com"
    datatitle5="Edad"
    data5="21 años"
    >
  </team-card-info>

  <team-card-info 
    title="Datos del jugador"
    datatitle1="Posición"
    data1="Defensor"
    datatitle2="Posición segundaria"
    data2="Lateral"
    datatitle3="Dorsal"
    data3="12"
    >
  </team-card-info>

  <team-card-info
    title="Información física"
    datatitle1="Altura"
    data1="175 cm"
    datatitle2="Peso"
    data2="85 kg"
    >
  </team-card-info>
  
</ion-content>
