<ion-header class="ion-no-border">
  <team-toolbar 
    subtitle="Mi" 
    title="Perfil 👤"
    image="../../../assets/img/motobomba.jpeg"
    [hideProfilePhoto]="true">
  </team-toolbar>
</ion-header>

<ion-content>
  <team-header-profile 
    [name]="userData.name"
    [image]="userData.imgProfile"
  ></team-header-profile>

  <team-card-info 
    title="Información personal"
    datatitle1="Nombre completo"
    [data1]="userData.name + ' ' + userData.lastName"
    datatitle2="Ocupación"
    [data2]="userData.rol"
    datatitle3="Télefono"
    [data3]="'+57 ' + userData.tel"
    datatitle4="Correo"
    [data4]="userData.email"
    datatitle5="Fecha de nacimiento"
    [data5]="userData.birthday"
    >
  </team-card-info>

  <team-card-info *ngIf="playerData"
    title="Datos del jugador"
    datatitle1="Posición"
    [data1]="playerData.position"
    datatitle2="Posición segundaria"
    [data2]="playerData.secondPosition"
    datatitle3="Dorsal"
    [data3]="playerData.dorsal"
    >
  </team-card-info>

  <team-card-info *ngIf="playerData"
    title="Información física"
    datatitle1="Altura"
    [data1]="playerData.height + 'cm'"
    datatitle2="Peso"
    [data2]="playerData.weight + 'kg'"
    >
  </team-card-info>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToUpdateProfile()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
