ion-content {
    --background: #F3F3F3;
}

.min-content {
    width: min-content !important;
}

ion-item {
    --inner-padding-end: 0px;
    font-size: 0.8rem;
}

ion-select {
    width: 100% !important;
}

ion-card {
    box-shadow: none;
}