ion-content {
    --background: #eeeeee;
}

.header-place{
    height: 260px;
    position: relative;
}

.header-img{
    object-fit: cover;
}

.subheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 14px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

ion-card {
    box-shadow: none;
}