ion-content {
    --background: #eeeeee;
}

.min-content {
    width: min-content !important;
}

ion-item {
    --inner-padding-end: 0px;
    font-size: 0.8rem;
}

.error{
    color: rgb(194, 0, 0);
    font-size: 10px;
}

ion-card {
    box-shadow: none;
}