<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Regresar </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-grid>
      <ion-row color="primary" class="m-2 justify-content-center">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div  class="card p-4 mb-3">
            <div class="card-content">
              <div class="text-dark mb-2">
                <ion-label class="fs-3 fw-bold">Registro ✍🏻</ion-label><br>
                <ion-label>Digita tus datos, elige tu ocupación en el equipo y registrate para disfrutar lo que ofrece <b>Team Up Soccer</b> para ti.</ion-label>
              </div>
              <ion-item class="mb-2 ion-no-padding">
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input name="name" type="name" placeholder="Luis Fernado" #name ></ion-input>
              </ion-item>
              <ion-item class="mb-2 ion-no-padding ion-no-padding">
                <ion-label position="stacked">Apellidos</ion-label>
                <ion-input name="lastname" type="family-name" placeholder="Díaz Marulanda" #lastname ></ion-input>
              </ion-item>
              <ion-item class="mb-2 ion-no-padding">
                <ion-label position="stacked">Correo</ion-label>
                <ion-input name="email" type="email" placeholder="tu@correo.com" #email ></ion-input>
              </ion-item>
              <ion-item class="mb-2 ion-no-padding">
                <ion-label position="stacked">Telefono</ion-label>
                <ion-input name="tel" type="number" placeholder="300 123 4545" #tel ></ion-input>
              </ion-item>
              <ion-item class="mb-2 ion-no-padding">
                <ion-label>Nacimiento</ion-label>
                <input class="form-control" type="date" #birthday >
              </ion-item>
              <ion-item class="mb-2 ion-no-padding">
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input name="password" type="password" placeholder="Contraseña" #password ></ion-input>
              </ion-item>
              <ion-list>
                <ion-item class="ion-no-padding">
                  <ion-select placeholder="Seleccionar ocupación" (ionChange)="onSelectChange($event)" >
                    <ion-select-option value="Entrenador">Entrenador/a</ion-select-option>
                    <ion-select-option value="Asistente de entrenador">Asistente Entrenador/a</ion-select-option>
                    <ion-select-option value="Jugador">Jugador/a</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </div>
          </div>
          <div *ngIf="role == 'Entrenador'" class="card p-4">
            <div class="text-dark mb-2">
              <ion-label class="fs-3 fw-bold">Crear un equipo 🛡️</ion-label><br>
              <ion-label>Digita los datos de tu equipo para crear uno.</ion-label>
            </div>
            <ion-item class="mb-2 ion-no-padding">
              <ion-label position="stacked">Nombre del equipo</ion-label>
              <ion-input name="teamname" type="text" placeholder="Club Deportivo Motobomba FC" #teamname ></ion-input>
            </ion-item>
            <ion-list>
              <ion-item class="ion-no-padding">
                <ion-select placeholder="País de origen" (ionChange)="onSelectCountry($event)" >
                  <ion-select-option value="Colombia">Colombia</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-item class="mb-2 ion-no-padding">
              <ion-label position="stacked">Sede deportiva</ion-label>
              <ion-input name="campus" type="text" placeholder="Polideportivo Pibe Valderrama" #campus ></ion-input>
            </ion-item>
            <ion-item class="mb-2 ion-no-padding">
              <ion-label>Fecha de creación</ion-label>
              <input class="form-control" type="date" #teamBirthday >
            </ion-item>
            <div class="pt-3 d-flex justify-content-end gap-2">
              <ion-button color="secondary" type="submit" (click)="registerCoachAndTeam(name, lastname, email, tel, birthday, password, teamname, campus, teamBirthday)">
                Registrarme <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div *ngIf="role == 'Asistente de entrenador'" class="card p-4">
            <div class="text-dark mb-2">
              <ion-label class="fs-3 fw-bold">Unirme a un equipo 🛡️</ion-label><br>
              <ion-label>Digita el codigo de equipo que te ha compartido el entrenador para unirte a uno.</ion-label>
            </div>
            <ion-item class="mb-2 ion-no-padding">
              <ion-label position="stacked">Codigo de equipo</ion-label>
              <ion-input name="teamId" type="text" placeholder="Escriba el codigo de equipo" #teamId ></ion-input>
            </ion-item>
            <div class="pt-3 d-flex justify-content-end gap-2">
              <ion-button color="secondary" type="submit" (click)="registerAssistCoach(name, lastname, email, tel, birthday, password, teamId)">
                Registrarme y unirme <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>

          <div *ngIf="role == 'Jugador'" class="card p-4">
            <div class="text-dark mb-2">
              <ion-label class="fs-3 fw-bold">Jugador 🏃🏻‍♂️</ion-label><br>
              <ion-label>Digita tus datos de jugador y el codigo de equipo para unirte a uno.</ion-label>
            </div>
            <ion-item class="mb-2 ion-no-padding">
              <ion-label position="stacked">Altura(cm)</ion-label>
              <ion-input name="height" type="number" placeholder="175" #height ></ion-input>
            </ion-item>
            <ion-item class="mb-2 ion-no-padding">
              <ion-label position="stacked">Peso(kg)</ion-label>
              <ion-input name="weight" type="number" placeholder="78" #weight ></ion-input>
            </ion-item>
            <ion-list>
              <ion-item class="ion-no-padding">
                <ion-select placeholder="Posición" #position >
                  <ion-select-option value="Portero">Portero</ion-select-option>
                  <ion-select-option value="Defensor central">Defensor central</ion-select-option>
                  <ion-select-option value="Lateral derecho">Lateral derecho</ion-select-option>
                  <ion-select-option value="Lateral izquierdo">Lateral izquierdo</ion-select-option>
                  <ion-select-option value="Mediocampista central">Mediocampista central</ion-select-option>
                  <ion-select-option value="Mediocampista derecho">Mediocampista derecho</ion-select-option>
                  <ion-select-option value="Mediocampista izquierdo">Mediocampista izquierdo</ion-select-option>
                  <ion-select-option value="Extremo derecho">Extremo derecho</ion-select-option>
                  <ion-select-option value="Extremo izquierdo">Extremo izquierdo</ion-select-option>
                  <ion-select-option value="Delantero centro">Delantero centro</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item class="ion-no-padding">
                <ion-select placeholder="Posición segundaria (opcional)" #secondPosition>
                  <ion-select-option value="Portero">Portero</ion-select-option>
                  <ion-select-option value="Defensor central">Defensor central</ion-select-option>
                  <ion-select-option value="Lateral derecho">Lateral derecho</ion-select-option>
                  <ion-select-option value="Lateral izquierdo">Lateral izquierdo</ion-select-option>
                  <ion-select-option value="Mediocampista central">Mediocampista central</ion-select-option>
                  <ion-select-option value="Mediocampista derecho">Mediocampista derecho</ion-select-option>
                  <ion-select-option value="Mediocampista izquierdo">Mediocampista izquierdo</ion-select-option>
                  <ion-select-option value="Extremo derecho">Extremo derecho</ion-select-option>
                  <ion-select-option value="Extremo izquierdo">Extremo izquierdo</ion-select-option>
                  <ion-select-option value="Delantero centro">Delantero centro</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-item class="mb-2 ion-no-padding">
              <ion-label position="stacked">Codigo de equipo</ion-label>
              <ion-input name="teamId" type="text" placeholder="Escriba el codigo de equipo" #teamId ></ion-input>
            </ion-item>
            <div class="pt-3 d-flex justify-content-end gap-2">
              <ion-button color="secondary" type="submit" (click)="registerPlayer(name, lastname, email, tel, birthday, password, height, weight, position, secondPosition, teamId)">
                Registrar y unirme <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
