<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Equipo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Equipo</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-list>
    <ion-list-header class="fw-bold fs-5"> Plantel </ion-list-header>

    <ion-item-group>
      <ion-item-divider>
        <ion-label class="fw-bold">Arqueros</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Cristian Cantillo</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Alan Hernandez</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label class="fw-bold">Defensores</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Gabriel De La Hoz</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label class="fw-bold">Mediocampistas</ion-label> 
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Dario Higuita</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label class="fw-bold">Delanteros</ion-label> 
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Diego Barraza</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>