ion-content {
    --background: #fafafa;
}

.banner-card{
    height: 150px;
    background: url(../../../assets/img/mfc_banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}