<ion-header class="ion-no-border">
  <team-toolbar subtitle="Bienvenido" [title]="userData.name + ' 👋'" [image]="userData.imgProfile"></team-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Motobomba FC</ion-title>
    </ion-toolbar>
  </ion-header>-->
  
  <team-card-advertising title="Entrenamiento aplazado" subtitle="Nick Velasquez"></team-card-advertising>

  <team-card-infoteam 
    [image]="teamData.imgLogo" 
    [team]="teamData.name" 
    title="Nuestro equipo" 
    [info]="teamData.description">
  </team-card-infoteam>
</ion-content>
