<ion-card class="ion-margin-bottom">
  <ion-item class="ion-no-padding">
    <ion-icon name="pencil" slot="end"></ion-icon>
    <ion-label class="ps-3">Editar anuncio</ion-label>
  </ion-item>
  <ion-card-header>
    <div class="d-flex align-items-center">
      <ion-icon class="me-2" slot="start" name="megaphone"></ion-icon>
      <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    </div>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
