<ion-header  class="ion-no-border">
  <team-toolbar subtitle="Creador de" title="Anuncios" image="../../../assets/img/motobomba.jpeg"></team-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row color="primary" class="mb-3 justify-content-center">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-card  class="p-4">
            <div>
              <ion-item class="mb-2 ion-no-padding">
                <ion-label position="stacked">Titulo</ion-label>
                <ion-input name="title" type="text" placeholder="Titulo del anuncio" #title></ion-input>
              </ion-item>
              <ion-item class="mb-2 ion-no-padding">
                <ion-label position="stacked">Descripción</ion-label>
                <ion-textarea name="description" rows="6"  placeholder="Escriba aquí..." #description></ion-textarea>
              </ion-item>
              <div class="pt-3 d-flex justify-content-end gap-2">
                <ion-button color="secondary" (click)="createAnnouncement(title, description)" type="submit">
                  Guardar <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
