.profile-container{
    height: min-content;
    background-color: #152D93;
    border-radius: 0 0 50% 50%;
}

.profile-img{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}